/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-300: rgb(209, 213, 219);

  --border-color: var(--gray-300);
  --text-color: var(--bc);
  --bg-gray-300: var(--gray-300);
  --bg-gray-200: rgb(229 231 235);
  --link-color: #0078a8;
}

footer {
  margin-top: 2rem;
}

.card a:link {
  @apply no-underline;
}

.card a:hover {
  @apply underline;
}

.tab {
  @apply text-base;
}

.prose h1:first-child {
  margin-top: 2rem;
}

.prose h2 {
  margin-top: 2rem;
}

.hero {
  padding: 0.5em;
  margin: 0;
  display: grid;
  place-items: start;
  min-height: 150px;
  align-items: flex-end;
}

.hero h1 {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.125em 0.75em;
}

.prose h1 + * {
  /* @apply mt-0; */
}

.prose figure,
.prose img {
  @apply mt-0;
  @apply mb-0;
}

.prose a,
a {
  @apply font-normal;
  color: var(--link-color);
  @apply no-underline;
}

.prose table,
.table-compact td,
.table-compact th {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.image-card {
  @apply border;
}

.image-card figure,
.image-card figure > * {
  width: 100%;
}

.image-card a:link,
.image-card a {
  text-decoration: none;
  color: inherit;
}

.image-card .image-card-body h2 {
  margin-top: 0;
}

.image-card .image-card-body p {
  margin-bottom: 0;
}

.image-card .image-card-body {
  padding: 1em;
}

.image-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.image-card img {
  height: 225px;
  object-fit: cover;
}
@media (max-width: 640px) {
  .image-card img {
    height: 400px;
    object-fit: cover;
  }
}

.image-card-side {
  display: flex;
  @apply border;
  align-items: stretch;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.image-card-side:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.image-card-side figure {
  width: 75px;
  height: 75px;
}

.image-card-side img {
  object-fit: cover;
  height: 75px;
  width: 75px;
  min-width: 75px;
}

.image-card-side-body {
  padding-left: 10px;
}

.image-card-side a,
.image-card-side a:link {
  color: inherit;
}

/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 sticky footer at bottom of page */

#svelte {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar a {
  color: inherit;
}

.leaflet-container {
  font-size: 0.875rem !important;
}

.label-text {
  @apply text-base;
}

main.container {
  @apply px-2;
}

.table td,
.table th {
  white-space: normal;
}

.external-link::after {
  content: '\2197';
  margin-left: 4px;
}

.btn {
  @apply normal-case;
}

.prose .popup-table {
  font-size: 12px;
}
